VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=divinegarbhsanskar-3cbce.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=divinegarbhsanskar-3cbce
VITE_FIREBASE_STORAGE_BUCKET=divinegarbhsanskar-3cbce.firebasestorage.app
VITE_FIREBASE_MEASUREMENT_ID=G-5HMSC5QHFM
VITE_FIREBASE_APP_CHECK_SITE_KEY=your_recaptcha_enterprise_site_key
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_GRAPHQL_API_URL=http://localhost:4000/graphql
